:root {
  /* Dark Theme */
  --color-block-main-dark: #1d1f26;
  --color-block-contact-dark: #272c3a;
  --color-block-footer-dark: #171920;
  --color-headings-dark: #fff;
  --color-body-dark: #adafba;
  --color-primary-dark: #7f42ff;
  --color-secondary-dark: linear-gradient(30deg, #bf3dff 2%, #7f28ff 98%);
  --color-link-dark: #b393d7;
  --color-icon-dark: #e5e5e5;
  --color-open-dark: #66ffa7;
  --color-open-bg-dark: rgba(227, 255, 209, 0.09);
  --color-typescript-dark: rgba(244, 238, 251, 0.06);
  --color-javascript-dark: rgba(255, 242, 197, 0.06);
  --color-react-dark: rgba(235, 241, 255, 0.1);
  --color-graphql-dark: rgba(255, 220, 243, 0.1);
  --color-btn-hero-dark: linear-gradient(
    30deg,
    #bf3dff 2%,
    #7f28ff 48%,
    transparent 50%
  );
  --color-btn-contact-dark: #413f6f;
  --color-btn-top-dark: var(--color-primary-dark);
  --color-link-group-dark: rgba(42, 46, 61, 0.85);
  --color-card-hero-dark: var(--color-block-footer-dark);
  --color-border-image-dark: #292d3c;
  /* Light Theme */
  --color-block-main-light: #faf8fd;
  --color-block-contact-light: #fff;
  --color-block-footer-light: var(--color-block-contact-light);
  --color-headings-light: #25323d;
  --color-body-light: #696969;
  --color-primary-light: #222;
  --color-secondary-light: #e151ae;
  --color-link-light: var(--color-primary-light);
  --color-icon-light: #385e78;
  --color-open-light: #28a65a;
  --color-open-bg-light: rgba(122, 195, 77, 0.17);
  --color-typescript-light: #f4eefb;
  --color-javascript-light: #fff2c5;
  --color-react-light: #ebf1ff;
  --color-graphql-light: #ffdcf3;
  --color-btn-hero-light: linear-gradient(30deg, #222 50%, transparent 50%);
  --color-btn-contact-light: var(--color-primary-light);
  --color-btn-top-light: #4d4d4e;
  --color-link-group-light: rgba(255, 255, 255, 0.79);
  --color-card-hero-light: var(--color-block-contact-light);
  --color-border-image-light: var(--color-block-contact-light);
  /* Rest  */
  --border-radius: 40px;
  --transition: all 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
}

/* Theme */

body {
  --color-block-main: var(--color-block-main-light);
  --color-block-contact: var(--color-block-contact-light);
  --color-block-footer: var(--color-block-footer-light);
  --color-body: var(--color-body-light);
  --color-headings: var(--color-headings-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-link: var(--color-link-light);
  --color-icon: var(--color-icon-light);
  --color-open: var(--color-open-light);
  --color-open-bg: var(--color-open-bg-light);
  --color-typescript: var(--color-typescript-light);
  --color-javascript: var(--color-javascript-light);
  --color-react: var(--color-react-light);
  --color-graphql: var(--color-graphql-light);
  --color-btn-hero: var(--color-btn-hero-light);
  --color-btn-contact: var(--color-btn-contact-light);
  --color-btn-top: var(--color-btn-top-light);
  --color-link-group: var(--color-link-group-light);
  --color-card-hero: var(--color-card-hero-light);
  --color-border-image: var(--color-border-image-light);
}

body.dark-theme {
  --color-block-main: var(--color-block-main-dark);
  --color-block-contact: var(--color-block-contact-dark);
  --color-block-footer: var(--color-block-footer-dark);
  --color-body: var(--color-body-dark);
  --color-headings: var(--color-headings-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-link: var(--color-link-dark);
  --color-icon: var(--color-icon-dark);
  --color-open: var(--color-open-dark);
  --color-open-bg: var(--color-open-bg-dark);
  --color-typescript: var(--color-typescript-dark);
  --color-javascript: var(--color-javascript-dark);
  --color-react: var(--color-react-dark);
  --color-graphql: var(--color-graphql-dark);
  --color-btn-hero: var(--color-btn-hero-dark);
  --color-btn-contact: var(--color-btn-contact-dark);
  --color-btn-top: var(--color-btn-top-dark);
  --color-link-group: var(--color-link-group-dark);
  --color-card-hero: var(--color-card-hero-dark);
  --color-border-image: var(--color-border-image-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-block-main: var(--color-block-main-dark);
    --color-block-contact: var(--color-block-contact-dark);
    --color-block-footer: var(--color-block-footer-dark);
    --color-body: var(--color-body-dark);
    --color-headings: var(--color-headings-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-link: var(--color-link-dark);
    --color-icon: var(--color-icon-dark);
    --color-open: var(--color-open-dark);
    --color-open-bg: var(--color-open-bg-dark);
    --color-typescript: var(--color-typescript-dark);
    --color-javascript: var(--color-javascript-dark);
    --color-react: var(--color-react-dark);
    --color-graphql: var(--color-graphql-dark);
    --color-btn-hero: var(--color-btn-hero-dark);
    --color-btn-contact: var(--color-btn-contact-dark);
    --color-btn-top: var(--color-btn-top-dark);
    --color-link-group: var(--color-link-group-dark);
    --color-card-hero: var(--color-card-hero-dark);
    --color-border-image: var(--color-border-image-dark);
  }

  body.light-theme {
    --color-block-main: var(--color-block-main-light);
    --color-block-contact: var(--color-block-contact-light);
    --color-block-footer: var(--color-block-footer-light);
    --color-body: var(--color-body-light);
    --color-headings: var(--color-headings-light);
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-link: var(--color-link-light);
    --color-icon: var(--color-icon-light);
    --color-open: var(--color-open-light);
    --color-open-bg: var(--color-open-bg-light);
    --color-typescript: var(--color-typescript-light);
    --color-javascript: var(--color-javascript-light);
    --color-react: var(--color-react-light);
    --color-graphql: var(--color-graphql-light);
    --color-btn-hero: var(--color-btn-hero-light);
    --color-btn-contact: var(--color-btn-contact-light);
    --color-btn-top: var(--color-btn-top-light);
    --color-link-group: var(--color-link-group-light);
    --color-card-hero: var(--color-card-hero-light);
    --color-border-image: var(--color-border-image-light);
  }
}

.badge--open-to-work {
  background: var(--color-open);
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  height: 2.4rem;
  overflow: hidden;
  padding: 0;
  width: 2.4rem;
}

@media screen and (min-width: 768px) {
  .badge--open-to-work {
    background: var(--color-open-bg);
    border-radius: 20rem;
    color: var(--color-open);
    display: inline;
    font-size: 1.4rem;
    line-height: 2;
    padding: 0.7rem 1.5rem;
  }
}
