<section class="block container">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cumque
    adipisci officia doloribus, deserunt accusamus natus nulla sapiente voluptas
    architecto!
  </p>
</section>
<section class="block block--white">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cumque
      adipisci officia doloribus, deserunt accusamus natus nulla sapiente
      voluptas architecto!
    </p>
  </div>
</section>
