<div class="project">
  <div class="project__image">
    <picture>
      <source
        type="image/webp"
        srcset="
          images/web-app-dashboard.webp    1x,
          images/web-app-dashboard@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          images/web-app-dashboard.png    1x,
          images/web-app-dashboard@2x.png 2x
        "
      />
      <img src="images/web-app-dashboard.png" alt="WebApp Dashboard" />
    </picture>
    <div class="link-group project__links">
      <a href="#" class="link">
        <svg class="icon icon--secondary">
          <use xlink:href="images/sprite.svg#link"></use>
        </svg>
        See Live
      </a>
      <a href="#" class="link">
        <svg class="icon icon--secondary">
          <use xlink:href="images/sprite.svg#code"></use>
        </svg>
        Source Code
      </a>
    </div>
  </div>
  <h2 class="project__title">Project title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum culpa
    totam ipsam placeat error nisi aliquam est autem eos ea.
  </p>
</div>
